.disclickable { pointer-events: none; }



.inventory{
    display: block;
    background-color: #8a8a8a;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 1.5px;
}

.colum{
    width: 35px;
    height: 35px;
    background-color: #9c9c9c;
    border: 3px solid;
    border-top: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px rgb(233, 230, 230);
    border-right: solid 3px rgb(233, 230, 230);
    display: inline-block;
}
.title{
    font-size: 20px;
    color: black;
    display: flex;
 }

.containor{
    background-color: #9c9c9c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.option{
    display: flex;
    background-color: #9c9c9c;
    right: 0;
    bottom: 0;
    transform-origin: 100% 100%;
}

 
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }